h1 {
	color: red;
	border: solid;
	border-color: green;
	text-align: center;
	padding: 20px;
	margin: 20px;
}

p {
	text-align: right;
}

#p2{
	text-align: center;
}

.display {
	display: none;
	visibility: hidden;
}